* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginComponent {
  width: 100%;
}

.LoginComponent-in {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-one {
  width: 50%;
  text-align: center;
  padding: 2rem;
}

.Login-two {
  width: 50%;
}

.Login-two-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Login-in-one {
  width: 50%;
  margin: auto;
}

.Login-in-one input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.Login-in-two {
  width: 50%;
  margin: auto;
}

.Login-in-two input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.Login-in-four {
  width: 50%;
  margin: auto;
}

.Login-in-four button {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  background-color: rgb(16, 19, 24);
  color: rgb(249, 249, 251);
  cursor: pointer;
  font-size: 1rem;
}

.Login-in-three {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: stretch;
  height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.Login-in-three-one {
  width: 50%;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border: none;
  border-right: 1px solid #e0e0e0;
}

.Login-in-three-two {
  width: 50%;
}

.Login-in-three-two input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  font-size: 1rem;
  background-color: white;
}

.Login-in-three-two input:focus {
  outline: none;
}

@media all and (max-width: 500px) {
  .LoginComponent-in {
    padding: 1rem;
    height: 80vh;
  }

  .Login-one {
    width: 90%;
    padding: 1rem 0;
  }

  .Login-one h1 {
    font-size: 1.5rem; /* Slightly reduce the font size for headings */
  }

  /* Input and Button Wrapper */
  .Login-two {
    width: 90%;
  }

  .Login-two-in {
    gap: 0.8rem;
  }

  /* Username and Password Input Fields */
  .Login-in-one,
  .Login-in-two,
  .Login-in-three,
  .Login-in-four {
    width: 100%;
  }

  .Login-in-one input,
  .Login-in-two input,
  .Login-in-three input,
  .Login-in-four input {
    padding: 0.6rem;
    font-size: 0.9rem; /* Slightly smaller font for inputs */
  }

  /* Login Button Styling */
  .Login-in-four button {
    padding: 0.7rem;
    font-size: 1rem;
  }

  .Login-in-three {
    height: 42px;
  }
  
  .Login-in-three-one {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}


.Login-in-five {
  width: 50%;
  margin: auto;
}

.Login-in-five a {
  text-decoration: none;
  color: rgb(16, 19, 24);
}