

.LeadUpdateComponent {
    width: 100%;
}

.LeadUpdateComponent-in {
    width: 100%;
}

.LeadUpdateComponent-Nav {
    width: 100%;
}

.LeadUpdateComponent-one {
    width: 100%;
}

.LeadUpdateComponent-one-in {
    width: 100%;
    display: flex;
}

.LU-sideBar {
    width: 16%;
}

.LU-one {
    width: 84%;
}