

.ViewClubs {
    width: 100%;
}

.ViewClubs-in {
    width: 100%;
}

.ViewClubs-Nav {
    width: 100%;
}

.ViewClubs-one {
    width: 100%;
}

.ViewClubs-one-in {
    width: 100%;
    display: flex;
}

.DC-sideBar {
    width: 16%;
}

.DC-one {
    width: 84%;
    border: 2px solid black;   
}