

.updateComponent {
    width: 100%;
}

.updateComponent-in {
    width: 100%;
}

.updateComponent-Nav {
    width: 100%;
}

.updateComponent-one {
    width: 100%;
}

.updateComponent-one-in {
    width: 100%;
    display: flex;
}

.UC-sideBar {
    width: 16%;
}

.UC-one {
    width: 84%;
    border: 2px solid black;   
}