.footer {
  background-color: rgb(151, 0, 3);
  border-top: 5px solid lightgrey;
}
.footer-in {
  width: 90%;
  margin: auto;
}

.footer-in-two {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  padding: 1rem 0rem;
}
.footer-in-two-one {
  width: 50%;
}
.footer-in-two-one h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-in-two-one p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  width: 90%;
}

.footer-in-two-two {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer-in-two-two-one {
  width: 100%;
}
.footer-in-two-two-one h2,
.footer-in-two-two-two h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-in-two-two-one p,
.footer-in-two-two-two p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  width: 90%;
}

.footer-in-two-two-two {
  margin-top: 1rem;
}

.footer-in-three {
  padding: 1rem 0rem;
}
.footer-in-three p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.footer-in-three a {
  text-decoration: none;
  color: white;
}

.footer-in-one {
  display: flex;
  padding: 1rem 0rem;
}
.footer-in-one-one {
  width: 50%;
  display: flex;
}
.footer-in-one-two {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.footer-in-one-one .footer-in-one-one-link {
  margin-right: 1rem;
}

.footer-in-one-two a{
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.footer-in-one-one-link {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  display: block;
  text-decoration: none;
}

.translatable-text {
  cursor: pointer;
}


@media all and (max-width: 500px) {
  .footer-in {
    width: 95%;
  }

  .footer-in-two {
    flex-direction: column;
    padding: 1rem 0rem;
  }

  .footer-in-two-one,
  .footer-in-two-two {
    width: 100%;
    padding: 1rem 0rem;
  }

  .footer-in-two-one h2,
  .footer-in-two-two-one h2,
  .footer-in-two-two-two h2 {
    font-size: 1.2rem;
  }

  .footer-in-two-one p,
  .footer-in-two-two-one p,
  .footer-in-two-two-two p {
    font-size: 0.9rem;
  }

  .footer-in-one {
    align-items: center;
    padding: 1rem 0;
    text-align: center;
  }

  .footer-in-one-one,
  .footer-in-one-two {
    width: 20%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .footer-in-one-one {
    width: 80%;
  }

  .footer-in-one-one .footer-in-one-one-link,
  .footer-in-one-two a {
    font-size: 0.9rem;
  }

  .footer-in-three p {
    font-size: 0.9rem;
    text-align: center;
  }

  .footer-in-one-two a {
    gap: 0.3rem;
  }
}
