*{
    padding:0% ;
    margin: 0%;
    box-sizing: border-box;
}

.GlimpseComponent {
    width: 100%;
}

.GlimpseComponent-in {
    padding: 1rem;
}

.Glimpse-one {
    width: 100%;  
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Glimpse-one-in {
    width: 100%;
    display: flex;
}

.Glimpse-icon {
    font-size: 1.5rem;
}

.Glimpse-one-one {
    width: 100%;
    display: flex;
}

.Glimpse-one-one p {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;    
}

.Glimpse-one-two {
    padding: .8rem .5rem;
}

.Glimpse-one-two-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.Glimpse-one-two-one p {
    font-size: 1rem;
    padding: .2rem 0rem;
}

.Glimpse-one a{
    text-decoration: none;
    color: rgb(217, 3, 3);
}

.Glimpse-three {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Glimpse-three-in{
    display: flex;        
    width: 60%;             
    align-items: center;  
    margin: auto;                      
    justify-content:flex-start;
    background-color: #f9f9f9;    
    border: 1px solid #ddd;            
    gap: 1rem;         
    border-radius: 8px;    
    overflow: hidden;
}
  
  
.Glimpse-three-in-one {
    width: 40%;  
    height: 20rem;
}
  
.Glimpse-three-in-one img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Glimpse-three-in-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.Glimpse-three-in-two-one {
    width: 100%;
}

.Glimpse-three-in-two-one p {
    font-size: 1rem;
    text-align: start;
}

.Glimpse-three-in-two-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 1rem;
}

.Glimpse-three-in-two-two button{
    padding: .5rem 1rem;
    background-color: black;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}

.Glimpse-three-in-two-two button:hover{
    background-color: green;
}

.Glimpse-two{
    width: 100%;
}

.Glimpse-two-in{
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem 0rem;
}

.GlimpseUpdate-one, .GlimpseUpdate-two{
    width: 40%;
}

.GlimpseUpdate-one input, .GlimpseUpdate-two input{
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 5px;
}

.GlimpseUpdate-three {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1.5rem;
}

.GlimpseUpdate-three button{
    font-size: .8rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem; 
    color: white;
    background-color: black;
    cursor: pointer;
}

.GlimpseUpdate-three button:hover{
    background-color: green;
}