.GlimpseComponent {
    width: 100%;
}

.GlimpseComponent-in {
    width: 100%;
    padding: 1rem;
}


.GlimpseComponent {
    width: 100%;
}

.GlimpseComponent-in {
    padding: 1rem;
}

.Glimpse-one {
    width: 100%;  
}

.Glimpse-one-in {
    width: 100%;
    display: flex;
}

.Glimpse-icon {
    font-size: 1.5rem;
}

.Glimpse-one-one {
    width: 100%;
    display: flex;
}

.Glimpse-one-one p {
    font-size: 1.2rem;
    border: 1px solid black;    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
}

.Glimpse-one-two {
    padding: .8rem .5rem;
}

.Glimpse-one-two-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Glimpse-one-two-one p {
    font-size: 1rem;
}

.Glimpse-one a{
    text-decoration: none;
    color: rgb(217, 3, 3);
}