.club-page {
    width: 100%;
    height: 100vh;
}
.club-page-in {
    width: 90%;
    margin: auto;
}

.back-to-home {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.back-to-home-link {
    text-decoration: none;
    padding: 0.5rem 0rem;
    color: black;
}
.club-page-header {
    padding: 1rem 0rem;
    /* linear-gradient(90deg, black, rgb(151, 0, 3)) border bottom */
    border-bottom: 2px solid rgb(151, 0, 3);
}
.club-page-header-in {
    display: flex;
    margin: auto;
}
.club-page-header-in-one {
    width: 50%;
}
.club-page-header-in-one h1 {
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(90deg, black, rgb(151, 0, 3));
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
}
.club-page-header-in-one h3 {

    font-size: 1.6rem;
    font-weight: 600;
}
.club-page-header-in-one h4 {

    font-size: 1rem;
    font-weight: 400;

}
.club-page-header-in-two {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.club-page-header-in-two h1 {
    text-align: right;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
}
.club-page-header-in-two span {
    text-align: right;
    width: 50%;
    font-size: 0.8rem;
    font-weight: 400;
    color: grey;
}

.club-page-in-one {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1rem 0rem;
}
.club-page-in-one-one {
    width: 50%;
}
.club-page-in-one-two {
    width: 50%;
}
.club-page-in-one-one-img {
    width: 100%;
}
.club-page-in-one-two-in {
    padding-left: 2rem;
}
.club-page-in-one-two-in h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    border-bottom: 2px solid black;
}
.club-page-in-one-two-in p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(88, 88, 88);
    padding: 1rem 0rem;
}


.club-page-last {
    width: 100%;
    margin: auto;
    padding: 1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.club-page-last h4 {
    font-size: 0.7rem;
    font-weight: 400;
    color: black;
    padding: 1rem 0rem;
}