* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ClubPageComponent {
  width: 100%;
}

.ClubPageComponent-in {
  width: 100%;
}

.ClubPageNavbar {
  width: 100%;
  position: fixed;
  top: 1;
  z-index: 1000;
}

.club-hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
}

.club-hero-in {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.club-hero-in::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgb(151, 0, 3),
  );
}

.club-hero-in img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.club-hero-in-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.club-hero-in-description h1 {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  width: 60%;
  text-align: center;
  line-height: 6rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

  margin-bottom: 1rem;
}

.club-hero-in-description h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.Club-two {
  width: 100%;
  padding: 2rem 0rem 0rem 0rem;
}

.Club-two-one {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
}

.Club-two-one-one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Club-two-one-one p {
  font-size: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.Club-two-one-two {
  width: 60%;
  margin: auto;
}

.Club-two-one-two h1 {
  text-align: center;
  font-size: 3.4rem;
}

.Club-two-one-three {
  width: 60%;
  margin: auto;
}

.Club-two-one-three p {
  text-align: center;
  font-size: 1rem;
}

.Club-three {
  width: 100%;
}

.Club-three-one {
  width: 90%;
  margin: auto;
  padding: 4rem 0rem;
}

.Club-three-options {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


  .club-slider-image {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
  }
  
#hide-club {
    display: none;
  }
   

.c-op-cm {
  /* width: 18%; */
}

.c-op-cm-in {
  padding: 1rem 1.5rem;
  width: 100%;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  /* padding: 1rem 0rem; */
  gap: 1rem;
}

.c-op-cm-in p {
  font-size: 1.2rem;
}

.icon-op {
  font-size: 1.5rem;
}

.c-op-cm-in:hover {
  /* background-color: rgb(151, 0, 3); */
  /* background color as gradient */
  background-image: linear-gradient(to right, black, rgb(151, 0, 3));
  color: white;
}

#hide-club {
  display: none;
}

.Club-four {
  width: 100%;
}

.Club-four-in {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  height: 50vh;
}

.Club-five {
  width: 100%;
}

.Club-five-in {
  width: 90%;
  margin: auto;
  padding: 10rem 0rem;
  /* height: 50vh; */
}

.Club-five-one {
  width: 100%;
}

.Club-five-one p {
  font-size: 2rem;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.Club-five-one h1 {
  text-align: center;
  font-size: 2.8rem;
}

.Club-five-two {
  width: 100%;
}

.Club-five-two-in {
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Club-four-two */

.Club-four-two {
  width: 100%;
}

.Club-four-two-in {
  width: 100%;
}

.Club-four-two-in-one-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 0rem;
}

.club-event {
  width: 24%;
  border: 2px solid black;
}


.cm-club-stats {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cm-club-stats h1 {
  font-size: 4.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.cm-club-stats p {
  font-size: 1.5rem;
  color: rgb(64, 63, 63);
}


/* Activities boxes */
.Club-four-three-in-one {
  display: flex;
  justify-content: space-between;
}

.Club-four-three-in-one-card {
  width: 24%;
  padding-bottom: 0.5rem;
  border: 1px solid rgb(197, 195, 195);
}

.Club-four-three-in-one-card-in {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Club-four-three-in-one-card-in-one img {
  width: 100%;
}

.Club-four-three-in-one-card-in-two h2 {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  padding-left: 0.6rem;
}

.Club-four-three-in-one-card-in-two p {
  font-size: 1rem;
  color: grey;
  padding-left: 0.6rem;
}

/* Upcoming Boxes*/

.Club-four-two-in-one {
  display: flex;
  justify-content: space-between;
}

.Club-four-two-in-one-card {
  width: 24%;
  padding-bottom: 0.5rem;
  border: 1px solid rgb(197, 195, 195);
}

.Club-four-two-in-one-card-in {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Club-four-two-in-one-card-in-one img {
  width: 100%;
}

.Club-four-two-in-one-card-in-two h2 {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
  padding-left: 0.6rem;
}

.Club-four-two-in-one-card-in-two p {
  font-size: 1rem;
  color: grey;
  padding-left: 0.6rem;
}


/* ClubPage-six */

.ClubPage-six {
  width: 100%;
}

.ClubPage-six-in {
  width: 100%;
  background-color: rgb(243, 243, 243);
  padding: 4rem 0rem 4rem 0rem;
}

.ClubPage-six-one {
  width: 100%;
  text-align: center;
}

.ClubPage-six-one p {
  font-size: 1.5rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.ClubPage-six-two {
  width: 100%;
  text-align: center;
}

.ClubPage-six-two h1 {
  font-size: 3.4rem;
}

.ClubPage-six-three {
  width: 50%;
  margin: auto;
  text-align: center;
}

.ClubPage-six-three p {
  font-size: 1rem;
  color: rgb(64, 63, 63);
}

.ClubPage-six-four {
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2.2rem;
}

.connect-icon {
  color: rgb(165, 162, 162);
  font-weight: 500;
}

.connect-icon:hover {
  color: rgb(151, 0, 3);
  font-weight: 500;
}


/* ----------------- Home Faq's ----------------- */

.HomeFaq {
  width: 100%;
  background-color: white;
}

.HomeFaq-in {
  width: 100%;
  padding: 5rem 0rem;
}

.HomeFaq-in-one {
  width: 90%;
  margin: auto;
}

.HomeFaq-in-one-one {
  width: 100%;
}

.HomeFaq-in-one-one p {
  color: rgb(67, 67, 67);
  font-weight: 600;
}

.HomeFaq-in-one-two {
  width: 100%;
}

.HomeFaq-in-one-two h1 {
  font-size: 2.4rem;
  font-weight: 800;
  color: black;
}

.HomeFaq-in-two {
  width: 90%;
  margin: auto;
}

.HomeFaq-in-two-in {
  width: 100%;
  display: flex;
}

.HomeFaq-in-two-one {
  width: 40%;
}

.HomeFaq-find {
  width: 60%;
  padding: 4rem 0rem 0rem 0rem;
}


.HomeFaq-find p {
  color: rgb(67, 67, 67);
  font-weight: 600;
}

.HomeFaq-find h1 {
  padding: 1rem 0rem;
  color: black;
  font-size: 1.8rem;
}

.HomeFaq-icon {
  width: 100%;
}

.msg-icon {
  color: rgb(10, 119, 237);
  font-size: 5rem;
}

.HomeFaq-in-two-two {
  width: 60%;
}

.HomeFaq-in-two-two-in {
  width: 100%;
  padding: 4rem 0rem 0rem 0rem;
}

.HomeFaq-ques-component {
  width: 100%;
  border-bottom: 1px solid rgb(67, 67, 67);
  padding: 1rem 0;
}

.HomeFaq-ques {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 1rem;
}

.HomeFaq-ques h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.HomeFaq-ans {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding 0.3s ease-out;
}

.HomeFaq-ans-show {
  max-height: 200px; 
  padding: 1rem 0rem 0rem 0rem;
}

.HomeFaq-ans-hide {
  max-height: 0;
  padding: 0;
}

.icon {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  animation: rotate 0.3s ease-out;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(180deg);
  }
}

.icon-close {
  font-size: 1.5rem;
  color: black;
  animation: rotate 0.3s ease-out;
}

.icon-active {
  transform: rotate(45deg);
}