* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ClubPageComponent {
    width: 100%;
}

.ClubPageComponent-in {
    width: 100%;
}

.ClubPageNavbar {
    width: 100%;
    position: fixed;
    top: 1;
    z-index: 1000;
}


.club-hero {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
}

.club-hero-in {
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 0, 3);
    position: relative;

}

.club-hero-in::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(151, 0, 3, 0.4));
}

.club-hero-in img {
    width: 100%;
}

.club-hero-in-description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.club-hero-in-description h1 {
    font-size: 5rem;
    color: white;
    font-weight: 700;
    width: 60%;
    text-align: center;
    line-height: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.club-hero-in-description h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.club-hero-in-description a {
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, black, rgb(151, 0, 3));
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}







.Club-two {
    width: 100%;
    padding: 3rem 0rem;
}

.Club-two-one {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
}

.Club-two-one-one {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Club-two-one-one p {
    font-size: 1.5rem;
    background-clip: text;
    -webkit-background-clip: text;  
    color: transparent;
    background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.Club-two-one-two {
    width: 60%;
    margin: auto;
}

.Club-two-one-two h1 {
    text-align: center;
    font-size: 3.4rem;
}

.Club-two-one-three {
    width: 60%;
    margin: auto;
}

.Club-two-one-three p {
    text-align: center;
    font-size: 1rem;
}



.Club-three {
    width: 100%;
}

.Club-three-one {
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}

.Club-three-options {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.c-op-cm {
    width: 18%;
}

.c-op-cm-in {
    width: 100%;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    padding: .8rem 0rem;
    gap: 1rem;
}


.c-op-cm-in p {
    font-size: 1.2rem;
}

.icon-op {
    font-size: 1.5rem;
}

.c-op-cm-in:hover {
    background-color: rgb(151, 0, 3);
    color: white;
}


#hide-club {
    display: none;
}

.Club-four {
    width: 100%;
}

.Club-four-in {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
    border: 2px solid blue;
    height: 50vh;
}


.Club-five {
    width: 100%;
}

.Club-five-in {
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
    height: 50vh;
}

.Club-five-one {
    width: 100%;
}

.Club-five-one p {
    font-size: 1.5rem;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;  
    color: transparent;
    background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.Club-five-one h1 {
    text-align: center;
    font-size: 3.4rem;
}

.Club-five-two {
    width: 100%;
}

.Club-five-two-in {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cm-club-stats {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cm-club-stats h1 {
    font-size: 4.5rem;
    background-clip: text;
    -webkit-background-clip: text;  
    color: transparent;
    background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.cm-club-stats p {
    font-size: 1.2rem;
    color: rgb(64, 63, 63);
}

.ClubPage-six {
    width: 100%;
}

.ClubPage-six-in {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 4rem 0rem 6rem 0rem;   
}

.ClubPage-six-one {
    width: 100%;
    text-align: center;
}

.ClubPage-six-one p {
    font-size: 1.5rem;
    background-clip: text;
    -webkit-background-clip: text;  
    color: transparent;
    background-image: linear-gradient(to right, black, rgb(151, 0, 3));
}

.ClubPage-six-two {
    width: 100%;
    text-align: center;
}

.ClubPage-six-two h1 {
    font-size: 3.4rem;
}

.ClubPage-six-three {
    width: 50%;
    margin: auto;
    text-align: center;
}

.ClubPage-six-three p {
    font-size: 1rem;
    color: rgb(64, 63, 63);
}

.ClubPage-six-four {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.ClubPage-six-four a {
    text-decoration: none;
    color: rgb(151, 0, 3);
    font-weight: 500;
}

.connect-icon {
    color: rgb(151, 0, 3);
    font-weight: 500;
}

.ClubPage-six-five {
    width: 100%;
}

.ClubPage-six-five-in {
    width: 90%;
    padding: 2rem 0rem;
    margin: auto;
    background-color: rgb(151, 0, 3);
    border-radius: 20px;
    display: flex;
}

.ClubPage-six-five-one {
    width: 75%;
}

.ClubPage-six-five-one-in {
    width: 90%;
    margin: auto;
    padding: 4rem 0rem;
}

.ClubPage-six-five-one-in h1 {
    font-size: 2.2rem;
    color: white;
}

.ClubPage-six-five-one-in p {
    font-size: 1.2rem;
    color: white;
    font-weight: 300;
}

.ClubPage-six-five-two {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ClubPage-six-five-two button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: rgb(151, 0, 3);
    font-size: 1rem;
    font-weight: 500;
}