* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewsLandScapeComponent {
  width: 100%;
}

.NewsLandScapeComponent-in {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NewsLandScape-one {
  width: 50%;
  text-align: center;
  padding: 2rem;
}

.NewsLandScape-two {
  width: 50%;
}

.NewsLandScape-two-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.NewsLandScape-in-one {
  width: 50%;
  margin: auto;
}

.NewsLandScape-in-one input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.NewsLandScape-in-two {
  width: 50%;
  margin: auto;
}

.NewsLandScape-in-two input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.NewsLandScape-in-three {
  width: 50%;
  margin: auto;
}

.NewsLandScape-in-three input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.NewsLandScape-in-four {
  width: 50%;
  margin: auto;
}

.NewsLandScape-in-four button {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  background-color: rgb(16, 19, 24);
  color: rgb(249, 249, 251);
  cursor: pointer;
  font-size: 1rem;
}

.NewsLandScape-in-five a {
  text-decoration: none;
  color: rgb(16, 19, 24);
  font-size: 1rem;
}
