* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewsLandScape {
  width: 100%;
}

.NewsLandScape-in {
  width: 100%;
}

.NewsLandScape-Nav {
  width: 100%;
}

.NewsLandScape-one {
  width: 100%;
}

.NewsLandScape-one-in {
  width: 100%;
  display: flex;
}

.LC-sideBar {
  width: 16%;
}

.LC-one {
  width: 84%;
  border: 2px solid black;   
}