* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NewsPortraitScape {
  width: 100%;
}

.NewsPortraitScape-in {
  width: 100%;
}

.NewsPortraitScape-Nav {
  width: 100%;
}

.NewsPortraitScape-one {
  width: 100%;
}

.NewsPortraitScape-one-in {
  width: 100%;
  display: flex;
}

.NC-sideBar {
  width: 16%;
}

.NC-one {
  width: 84%;
  border: 2px solid black;   
}