


.EventComponent {
    width: 100%;
}

.EventComponent-in {
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    overflow: hidden;
    background-color: white;
}

.Event-one {
    width: 100%;
}

.Event-one img {
    width: 100%;
    height: 100%;
    padding: .4rem;
}

.Event-two {
    padding: 1rem;
}

.Event-two h2 {
   color: rgb(151, 0, 3);
   font-size: 1.5rem;
   padding: 1rem 0rem;
}

.Event-two p {
    font-size: 1rem;
}

