* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.SilComponent {
    width: 100%;
}

.SilComponent-in {
    width: 100%;
}

.Sil-one {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
}
.Sil-one-in {
    width: 100%;
    background-color: black;
    padding: .8rem 0rem;
    border-radius: 2rem;
}

.Sil-two {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding: 0.5rem; */
}
.sil-two-in{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.3rem; */
}
.Sil-two-search{
    /* border: 2px solid red; */
    /* gap: 5px; */
    width: 19%;
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}
.sil-two-fliter{
    border: 2px solid red;
    width: 15%;
}
.week-selector {
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.week-selector button {
    background-color: black;
    color: white;
    border: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.week-selector button:hover {
    background-color: white;
    color: black;
}

.Sil-three {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem;
}

.Sil-three table {
    width: 100%;
    height: 70vh;
    border: 1px solid black;
    border-collapse: collapse;
}

.Sil-three table th {
    border: 1px solid black;
    padding: .5rem;
}

.Sil-three table td {
    border: 1px solid black;
    padding: .5rem;
}

.Sil-three table thead tr:nth-child(1) {
    background-color: rgb(151, 3, 0);
    color: white;
}

.Sil-three table thead th:nth-child(1) {
    width: 15%;
}

.Sil-three table thead th:nth-child(2) {
    width: 44%;
}

.Sil-three table thead th:nth-child(3) {
    width: 8%;
}

.Sil-three table thead th:nth-child(4) {
    width: 14%;
}

.Sil-three table thead th:nth-child(5) {
    width: 12%;
}



.Sil-three table td:nth-child(1) {
    /* background-color: rgb(151, 3, 0); */
    /* color: white; */
    color: black;
}


.Sil-three table tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}