.ManageUsersComponent {
    width: 100%;
}

.ManageUsersComponent-in {
    width: 100%;
}

.ManageUsersComponent-Nav {
    width: 100%;
}

.ManageUsersComponent-one {
    width: 100%;
}

.ManageUsersComponent-one-in {
    width: 100%;
    display: flex;
}

.DC-sideBar {
    width: 16%;
}

.DC-one {
    width: 84%;
}