* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.AddClub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddClubComponent {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AddClubComponent-one {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: .5rem;
}

.AddClubComponent-one h1 {
  font-size: 1rem;
  font-weight: 400;
}

.AddClubComponent-two {
  width: 100%;
  padding: 1rem;
}

.AddClubComponent-two-in-one {
  width: 100%;
}

.AddClubComponent-two-in-two {
  width: 100%;
}

.AddClubComponent-two-in-two-a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 1rem 0rem 0rem 0rem;
}

.AddClubComponent-two-in-two-a-one , .AddClubComponent-two-in-two-a-three {
  width: 32%;
}

.AddClubComponent-two-in-two-a-one input , .AddClubComponent-two-in-two-a-three input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.AddClubComponent-two-in-two-c {
  width: 100%;
  padding: 1rem 0rem 0rem 0rem;
}

.AddClubComponent-two-in-two-c-one {
  width: 100%;
}

.AddClubComponent-two-in-two-d {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0rem 1rem 0rem;
  gap: 1.6rem;
}

.AddClubComponent-two-in-two-d-one, .AddClubComponent-two-in-two-d-two, .AddClubComponent-two-in-two-d-three {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.AddClubComponent-two-in-two-d-one input {
  width: 100%;
  padding: 0.8rem;
  border: 0.1px solid gray;
  border-radius: 5px;
  font-size: 1rem;
}

.AddClubComponent-two-in-two-d-two select {
  width: 100%; 
  padding: 0.8rem; 
  border: 0.1px solid gray; 
  border-radius: 5px;
  font-size: 1rem; 
  background-color: white; 
  appearance: none;
}

.AddClubComponent-two-in-two-d-three button {
  width: 50%;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.8rem; 
  color: white;
  background-color: green;
  cursor: pointer;
  border: none;
}

