.eight {
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.eight-in {
  width: 90%;
  margin: auto;
  padding: 3rem 0rem;
}

.eight-in-head {
  padding: 0rem 0rem;
}

.eight-one {
  width: 100%;
}

.eight-one-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.Event-cm {
  width: 24%;
}

@media all and (max-width: 500px) {
  .eight-in {
    width: 95%;
    padding: 2rem 0;
  }

  .eight-in-head {
    padding: 1rem 0;
  }

  .eight-one-in {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }

  .Event-cm {
    width: 100%;
  }
}
