* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavbarComponent {
    width: 100%;
}

#show-color {
    background-color: rgb(151, 0, 3);
    padding: .4rem 0rem;
    transition: all .2s ease;
}

.NavbarComponent-in {
    width: 100%;
    display: flex;
    padding: 1rem 0rem;
}

#show-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }

.Navbar-one {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar-one img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.Navbar-one h1 {
    font-size: 1.5rem;
    color: white;
}

.Navbar-one h1:hover {
    cursor: pointer;
}

.Navbar-two {
    width: 70%;
}

.Navbar-two ul {
    width: 60%;
    margin: auto;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Navbar-two li {
    font-size: 1.1rem;
    color: white;
}

.Navbar-two li:hover {
    cursor: pointer;
}

.Navbar-two a {
    color: white;
    text-decoration: none;
}