* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.EventComponent {
  width: 100%;
}

.EventComponent-in {
  width: 100%;
}

.EventComponent-Nav {
  width: 100%;
}

.EventComponent-one {
  width: 100%;
}

.EventComponent-one-in {
  width: 100%;
  display: flex;
}

.EC-sideBar {
  width: 16%;
}

.EC-one {
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}